@define-color elephant #14445c;
@define-color bluedianne #1f5d65;
@define-color crimson #c7063c;
@define-color valencia #d43e4d;
@define-color elephant #14445c;
@define-color bluedianne #1f5d65;
@define-color cavernpink #e4b8b9;
@define-color matrix #b26465;
@define-color jumbo #75717e;


* {
  all: unset;
	background-image: none;
  transition: 400ms cubic-bezier(0.05, 0.7, 0.1, 1);
}

window {
	background-color: rgba(30, 30, 46, 0.90);
}

button {
  font-family: 'Noto Sans';
  margin: 5px;
  padding: 5px;
	text-decoration-color: #cdd6f4;
	color: #cdd6f4;
	background-color: #181825;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20%;
}

button:focus, button:active, button:hover {
	/* 20% Overlay 2, 80% mantle */
	background-color: rgb(48, 50, 66);
	outline-style: none;
}

#lock {
    background-image: url("/home/eliaspersonal/.config/wlogout/icons/lock.svg");
}

#logout {
    background-image: url("/home/eliaspersonal/.config/wlogout/icons/logout.svg");
}

#suspend {
    background-image: url("/home/eliaspersonal/.config/wlogout/icons/suspend.svg");
}

#hibernate {
    background-image: url("/home/eliaspersonal/.config/wlogout/icons/hibernate.svg");
}

#shutdown {
    background-image: url("/home/eliaspersonal/.config/wlogout/icons/shutdown.svg");
}

#reboot {
    background-image: url("/home/eliaspersonal/.config/wlogout/icons/reboot.svg");
}
